*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: cornsilk;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    
}

#navbar{
    background-color: silver;
    height: 10vh;
    width: 100vw;
    justify-content: center;
    z-index: 5;
}

#navCon{
    height: 10vh;
    width: 50vw;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-bottom: -40px;
    z-index: 10;
    margin-left: 200px;
}

a{
    text-decoration: none;
    color: black;
    margin-left: 55px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
}

a:hover{
    text-decoration: underline;
    color: rgb(236, 96, 45);
}

#mainDiv{
    height: 75vh;
    width: 65vw;
    background-color: rgba(59, 60, 54, 0.37);
    border: none groove black;
    box-shadow: -4px 4px 4px 4px rgba(147, 147, 207, 0.534);
    margin-top: 50px;
    margin-left: 230px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: auto  auto auto auto auto;
    gap: -60px;
    column-gap: -300px;
    justify-content: space-evenly;
    padding-top: 40px;
    padding-left: 30px;
}

.myDiv{
    height: 22vh;
    width: 12vw;
    border: none solid black;
    /* margin-top: 15px; */
    /* margin-left: 12px; */
    border-radius: 10px;
}

img:hover{
    height: 18vh;
    width: 10vw;
    transform: translate3d(20px, 2, 4);
}

img{
    height: 14vh;
    width: 8vw;
    
}